@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap');

/* General styling */

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: "Open Sans", sans-serif;
  background: white;
  
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 30px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4 {
  font-family: Lobster, sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: black;
  line-height: normal;
}

legend {
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: black;
}

.content {
  flex: 1 0 auto;
}

.clear {
  clear: both;
}

.float-right {
  float: right;
  width: 50%;
}

.float-left {
  float: left;
  width: 50%;
}

.box {
  box-sizing: border-box;
}

.default-container {
  width: 80%;
  margin: 0 10% 0;
}
#top-page {
  position: fixed;
  bottom: 80px;
  right: 40px;
}

#top-page i {
  font-size: 2.5rem;
}

#top-page i:hover {
  color: #fdcba6;
  background-color: black;
  border-radius: 25px;
}

/* Header styles homepage*/

#logo {
  height: 65px;
  width: 50px;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
}

h1 {
  position: relative;
  left: 5px;
  top: 10px;
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
}

h4 {
  font-size: 1.25rem;
}

.nav-container {
  background-color: #fdcba6;
  width: 100vw;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 1;
}

#menu {
  line-height: 100px;
  position: absolute;
  right: 5px;
  top: 0;
  overflow: hidden;
}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 20px;
}

#menu a:hover {
  color: white;
}

.active {
  text-decoration: underline black solid;
}

.homepage-header {
  height: 70vh;
  width: 100%;
  margin-top: 80px;
  background: 
    url(../images/giraffe-savannah-home.jpg)
    center center / cover
    no-repeat
    fixed;
  opacity: 0.8;
}
#header-left {
  position: absolute;
  left: 5px;
}

#header-right {
  position: absolute;
  top: 120px;
  left: 550px;
}

/* animation zoom effect for menu buttons */

/* homepage content */

/* photo grid */

#img-grid {
  width: 100%;
  height: 690%;
  background-color: black;
  border-top: 5px black solid;
  overflow-x: hidden;
}

#img-grid img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

#img-row-top {
  display: grid;
  grid-template-columns: 24% 24% 52%;
  grid-template-rows: 100%;
  gap: 5px 5px;
  border-bottom: 5px black solid;
}

#img-row-bottom {
  display: grid;
  grid-template-columns: 25% 50% 26%;
  grid-template-rows: 100%;
  gap: 5px 5px;
}

#img-row-column {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 48% 52%;
  gap: 5px 5px;
}

.hide {
  display: none;
  position: fixed;
  right: 29%;
  top: 30%;
  margin: 0 4px;
  height: fit-content;
  width: 800px;
  background-color: #f7d4bf;
}

#img-grid img:hover {
  opacity: 0.2;
}

#img-grid img:hover + .hide {
display: block;
}

/* About zimbabwe page styling */

.about-zimbabwe-container {
  margin-top: 90px;
  height: 600px;
}

.page-heading {
  padding: 10px;
}

.align-text-left {
  text-align: left; 
}

.center-text {
  text-align: center;
}

.box-header {
  margin-bottom: 10px;
  
}

#map-container {
  width: 100vw;
  height: fit-content;
  margin: 10px 0 30px;
  padding: 10px 0;
}

#map-iframe {
  width: 100vw;
  height: 400px;
}

.facts-section {
  margin-top: 10px;
  min-height: 300px;
}

.center-content {
  margin: 20px 0 15px;
  width: 100%;
}

.pack-image-alone {
  width: 100%;
  object-fit: contain;
  border-radius: 2px; 
  margin: 10px 0;
}

#climate-video {
  width: 100%;
  height: 500px;
}

#climate-iframe {
  height: 100%;
  width: 100%;
}

/* travel information page styling */
#travel-info-container {
  margin-top: 100px;
}

/* "What to pack" section styling */

.pack-box {
  width: 100%;
}

.pack-image-left {
  height: 300px;
  width: 300px;
  margin-right: 5px;
  padding: 0 5px 0;
  border-radius: 2px; 
}

.pack-image-right {
  height: 300px;
  width: 300px;
  margin-left: 5px;
  padding: 0 5px 0;
  border-radius: 2px; 
}

.two-column-text-left {
  font-size: 18px;
  margin: 50px 350px 50px 0px ;
}

.two-column-text-right {
  font-size: 18px;
  margin: 50px 0px 50px 350px;
}

 /* Health and safety section, visas and airpots styling */

 .three-columns > * {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.left-third-width {
  width: 33%;
  margin: 2px;
}

.centre-third-width {
  width: 30%;
  margin: 2px;
}

.right-third-width {
  width: 33%;
  margin: 2px;
}

.button-container {
  height: 100px;
  position: relative;
}

.button-centre {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button {
  border-radius: 4px;
  padding: 10px 30px;
  text-align: center;
  font-size: 100%;
  background-color: teal;
}

.button:hover {
  background-color: rgb(64, 224, 208, 0.9);
}

.button a {
  color: white;
}

.button a:hover {
  color: black;
}

.category-column {
  margin: 5px 2% 0;
  column-count: 4;
  background-color: rgb(248,173,125, 0.2);
  padding: 10px 30px;
  border-radius: 4px;
} 

/* contact us page and form styling */

.no-scroll {
  overflow-y: hidden;
  background: 
    url(../images/giraffe-savannah-home.jpg)
    center center / cover
    no-repeat
    fixed;
}

.contact-bg {
  background: rgba(247, 212, 191, 0.9);
  width: 100%;
  height: 100%;
  padding: 15px;
}

.contact-container {
  display: block;
  margin: 80px auto 0;
  width: 50%;
}

.contact-container p {
  font-size: 12px;
}

.float-left-alone {
  float: left;
  width: 100%;
}

.float-middle {
  clear: both;
  margin-left: 33%;
  margin-right: 33%;
}

.text-input, .text-input-alone, .textarea-input {
  background: transparent;
  width: 90%;
  height: 25px;
  margin: 5px 0 5px;
  border: 1px solid black;
  border-radius: 4px;
}

.text-input-alone , .textarea-input{
  width: 95%;
}

.textarea-input {
  height: 12rem;
}

.text-input:hover, .text-input-alone:hover, .textarea-input:hover {
  border-color: darkmagenta;
}

.submit-button {
  margin: 10px 0 45% 50%;
  border-radius: 4px;
  padding: 10px 30px;
  text-align: center;
  font-size: 100%;
  background-color: teal;
  color: white;
  display: block;
  clear: both;
}

.submit-button:hover {
  background-color: turquoise;
  color: black;
}

/* footer styling*/

.footer {
  height: 60px;
  width: 100vw;

  background-color: #f8ad7d;
  background-attachment: scroll;
  background-position: 0 0;

  flex-shrink: 0;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  padding: 1em 0 0;
}

footer a {
  text-decoration: none;
  color: black;
  padding-right: 2em;
  position: relative;
}

.footer-container {
  width: 100%;
  height: 60px;
  font-weight: bold;
}

footer li:first-child {
  margin-left: auto;
}

footer li:last-child {
  margin-right: auto;
}

footer i {
  font-size: larger;
}

/* medium screen sizes from */

@media screen and (max-width: 950px) {
  body {
    overflow-x: hidden;
    margin: 0 0 60px;
  }

  .default-container {
    margin: 0 5% 0;
  }

  #menu {
    clear: left;
    float: left;
  }

   #map-iframe {
    width: 100%;
    height: 200px;
  }
}

@media screen and (max-width: 830px) {

  .nav-container {
    background-color: #fdcba6;
    width: 100vw;
    height: 120px;
  }

  #menu {
    position: absolute;
    top: 50px;
    right: 5px;
    left: 5px;
    overflow: hidden;
  }

  #header-left {
    position: absolute;
    top: 40px;
    left: 16px;
  }

  #header-right {
    position: absolute;
    top: 90px;
    left: 16px;
  }

  #intro-content {
    width: 100%;
    margin-left: 20%;
    clear: both;
  }

  #flame-lily-container {
    max-width: 830px;
  }

  #flame-lily-content {
    clear: both;
  }

  #flame-lily-container img {
    object-fit: contain;
    margin: 0;
  }

  #flame-lilly-img-container {
    clear: both;
    width: 100%;
    margin: 0;
  }

  #climate-content {
    clear: both;
    width: fit-content;
    margin-left: 10%;
  }

  #climate-video {
    clear: both;
    object-fit: contain;
  }
}