@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap');

/* General styling */

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f7d4bf;
  margin-bottom: 60px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 16px;
}

h1, h2, h3, h4 {
  font-family: Lobster, sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: black;
}

section {
  margin: 5px;
}

section h3 {
  float: left;
  margin: 5px;
}

legend {
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: black;
}

.clear {
  clear: both;
}

.float-right {
  float: right;
  width: 50%;
}

.float-left {
  float: left;
  width: 50%;
}

.box {
  box-sizing: border-box;
}

.default-container {
  width: 100%;
  margin: 0 10%;
}

/* Header styles homepage*/
header {
  margin: 5px 5px 0 5px;
  height: 100px;
  position: fixed;
  top: 0;
}

.active {
   text-decoration: underline black solid;
}

#logo {
  height: 65px;
  width: 50px;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
}

h1 {
  position: relative;
  left: 5px;
  top: 10px;
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

#logo {
  float:left;
}

.homepage-header {
  position: relative;
  top: 100px;
  height: 90vh;
  width: 100%;
  margin-bottom: 100px;
  background-image: url(../images/giraffe-savannah-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  z-index: -1;
}

#header-left {
  position: absolute;
  top: 20px;
  left: 16px;
}

#header-right {
  position: absolute;
  top: 60px;
  left: 550px;
}

.nav-container {
  background-color: #fdcba6;
  width: 100vw;
  height: 100px;
}

#menu {
  line-height: 100px;
  position: absolute;
  right: 5px;
  top: 0;
  overflow: hidden;
}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 20px;
}

#menu a:hover {
  color: white;
}

/* animation zoom effect for menu buttons */

/* homepage content */

/* photo grid */

#img-grid {
  width: 80%;
  height: fit-content;
  margin-left: 10%;
}

#img-grid img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

#img-row-top {
  display: grid;
  grid-template-columns: 50.75% 49.25%;
  grid-template-rows: 100%;
  place-self: center;
}

#img-row-centre {
  display: grid;
  grid-template-columns: 36% 64%;
  place-self: center;
}

#img-row-bottom {
  display: grid;
  grid-template-columns: 51.5% 48.5%;
  place-self: center;
}

/* About zimbabwe section styling */

#intro-content {
  width: 30%;
  float: left;
  margin-top: 5%;
}

#facts-container {
  margin: 0 10%;
}

#facts-container li {
  font-size: larger;
  font-weight: 600;
  text-transform: capitalize;
}

#flame-lily-container img {
  width: 300px;
  height: 200px;
  margin: 0 20%;
}

#climate-container {
  width: 100%;
  margin: 0 10%;
}

#climate-container p {
  width: 40%;
}

#climate-video {
  margin: 0 5%;
  object-fit: contain;
}

/* travel information page styling */

#travel-info-container h2 {
  text-align: center;
}

/* "What to pack" section styling */

.pack-box-left {
  width: 48vw;
  height: 250px;
  float: left;
  margin: 2px;
}

.pack-box-right {
  width: 48vw;
  height: 250px;
  display: inline-block;
  margin: 2px;
}

.pack-image {
  height: 240px;
  width: 240px;
  border-radius: 2px;
}

 /* Health and safety section, visas and airpots styling */

 .three-columns > * {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.left-third-width {
  width: 33%;
  margin: 2px;
}

.centre-third-width {
  width: 30%;
  margin: 2px;
}

.right-third-width {
  width: 33%;
  margin: 2px;
}

.button-container {
  height: 100px;
  position: relative;
}

.button-centre {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

div button {
  border-radius: 4px;
  padding: 10px 30px;
  text-align: center;
  font-size: 100%;
  background-color: teal;
}

button a {
  color: white;
}

/* contact us page and form styling */

.section-bg {
  background-color: white;
  width: 100%;
  height: 100%;
}

.centered-element {
  background-color: whitesmoke;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.float-left-alone {
  float: left;
  width: 100%;
}

.float-middle {
  clear: both;
  margin-left: 33%;
  margin-right: 33%;
}

.text-input, .text-input-alone, .textarea-input {
  background: transparent;
  width: 90%;
  height: 25px;
  margin: 5px 0 5px;
  border: 1px solid black;
  border-radius: 4px;
}

.text-input-alone , .textarea-input{
  width: 95%;
}

.textarea-input {
  height: 12rem;
}

.text-input:hover, .text-input-alone:hover, .textarea-input:hover {
  border-color: darkmagenta;
}

.submit-button {
  margin: 20px 0 45% 50%;
  border-radius: 4px;
  padding: 10px 30px;
  text-align: center;
  font-size: 100%;
  background-color: teal;
  color: white;
  display: block;
  clear: both;
}

.submit-button:hover {
  background-color: turquoise;
  color: black;
}

/* footer styling*/

.footer {
  height: 60px;
  width: 100%;
  
  position: fixed;
  left: 0;
  bottom: 0;

  background-color: #f8ad7d;
  background-attachment: scroll;
  background-position: 0 0;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5em 0;
}

footer a {
  text-decoration: none;
  color: black;
  padding-right: 2em;
  position: relative;
}

.footer-container {
  width: 100vw;
  height: 60px;
  margin: auto;
  font-weight: bold;
}

footer li:first-child {
  margin-left: auto;
}

footer li:last-child {
  margin-right: auto;
}

footer i {
  font-size: larger;
}

/* .left-content {
  margin-top: 10px;
  padding-top: 5px;
  width: 33%;
  float: left;
  text-align: center;
}

.centre-content {
  width: 33%;
  padding-top: 5px;
  margin: 0 auto;
  text-align: center;
}

.right-content {
  margin-top: 10px;
  padding-top: 5px;
  width: 33%;
  float: right;
  text-align: center;
}

.social-networks {
  margin: 10px 0 70px 70px;
  font-size: 25px;
  column-count: 5;
  column-gap: 30px;
} */
